@model IEnumerable<Lab4.Models.Movie>
@{ 
  
}
<h3>Movies</h3>
@if (Model==null || Model.Count() == 0)
{
    <h4>Currently, there are no movies to display</h4>

}
else
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="EditMovie"asp-route-id="@item.MovieId">Edit</a>&nbsp;&nbsp;
                <a asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@item.MovieId">Delete</a>&nbsp;&nbsp;
                <h1>Title</h1>@item.Title
                <h2>Descroption</h2>@item.Description
                <h3>Rating</h3>@item.Rating
                <h4>Subtitle</h4>@item.SubTitle
            </li>
        }
    </ul>


}
<a asp-controller="Home" asp-action="AddMovie">Add Movie</a>
