@using Microsoft.AspNetCore.Http;

@{ 
    Layout = "_Layout";
}
<h3>Display Person Data</h3>
<table>
    <tr>
        <td>
            First Name:
        </td>
        <td>
            @Context.Session.GetString("firstName");
        </td>
    </tr>

    <tr>
        <td>
            Last Name:
        </td>
        <td>
            @Context.Session.GetString("lastName");
        </td>
    </tr>

    <tr>
        <td>
            Age:
        </td>
        <td>
            @Context.Session.GetInt32("age");
        </td>
    </tr>

    <tr>
        <td>
            Email Address:
        </td>
        <td>
            @Context.Session.GetString("emails");
        </td>
    </tr>

    <tr>
        <td>
            Date of Birth:
        </td>
        <td>
            @Context.Session.GetString("dateOfBirth");
        </td>
    </tr>

    <tr>
        <td>
            Password:
        </td>
        <td>
            @Context.Session.GetString("password");
        </td>
    </tr>

    <tr>
        <td>
           Description:
        </td>
        <td>
            @Context.Session.GetString("description");
        </td>
    </tr>
</table>